.root {
    background-color: var(--main-background-color);
    border-radius: calc(var(--spacing) * 0.5);
    margin: var(--spacing);
    padding: var(--spacing);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
