.root {
    position: absolute;
    top: calc(var(--spacing) * 1);
    left: calc(var(--spacing) * 1);

    border: 0;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    cursor: pointer;

    --size: calc(var(--spacing) * 7);

    width: var(--size);
    height: var(--size);
}

.root:active,
.root:focus {
    background-color: transparent;
}

@media (max-width: 599px) {
    .root {
        top: auto;
        left: auto;
        bottom: calc(var(--spacing) * 2);
        right: calc(var(--spacing) * 2);
    }
}

@media (prefers-color-scheme: light) {
    .times {
        background-image: url("../../assets/icons.svg#times-dark");
    }
    .burger {
        background-image: url("../../assets/icons.svg#burger-dark");
    }
}

@media (prefers-color-scheme: dark) {
    .times {
        background-image: url("../../assets/icons.svg#times-light");
    }
    .burger {
        background-image: url("../../assets/icons.svg#burger-light");
    }
}
